* {
    margin: 20px;
    padding: 5px;
}
body{
    background-color:wheat;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
}
.wh-img{
    height: 160px;;
    width: 180px;;
}
h4,h3,.Elavoracion{
    color: tomato;
}
#pasos{
    color: black;
}